@import "./themes/theme";

// Banner button minimum size, can be changed
$bannerBtnWidth: 150px;
$bannerBtnHeight: 36px;

/// Theme. 
/// Default: Light
$close-button-color: #666666;

$banner-background-color: #F2F2F2;
$dialog-background-color: #FFFFFF;

$background-color-between-page-and-dialog: rgba(255, 255, 255, 0.6);
$dialog-border-color: #0067B8;

$radio-button-border-color: #000000;
$radio-button-checked-background-color: #000000;
$radio-button-hover-border-color: #0067B8;
$radio-button-hover-background-color: rgba(0, 0, 0, 0.8);
$radio-button-disabled-color: rgba(0, 0, 0, 0.2);
$radio-button-disabled-border-color: rgba(0, 0, 0, 0.2);

$banner-close-button-color: #000000;
$banner-shadow: 6px -5px 6px #0000001C;

@mixin bannerFont($weight, $size, $style: normal) {
  font : {
    family: Segoe UI, SegoeUI, Arial, sans-serif;
    style: $style;
    weight: $weight;
    size: $size;
  }
}

// For right-to-left direction
@mixin rtlDesign($margin, $padding, $float: none) {
  div[dir="rtl"] & {
    margin: $margin;
    padding: $padding;
    float: $float;
  }
}

// For right-to-left direction (position)
@mixin rtlDesignPosition($left, $right) {
  div[dir="rtl"] & {
    left: $left;
    right: $right;
  }
}

.bannerBody {
  position: fixed;
  display: flex;
  z-index: 9999;          /* on top of the page */
  width: 100%;
  background-color: $banner-background-color;

  justify-content: space-between;
  text-align: left;
  
  @at-root div[dir="rtl"]#{ & } {
    text-align: right;
  }
  
  padding: {
    top: 15px;
    bottom: 15px;
  };

  bottom: .5%;
  box-shadow: $banner-shadow;
}

.bannerInform {
  margin: 0;
  padding : {
    left: 5%;
    top: 8px;
    bottom: 8px;
  }
  align-self: center;
 
  @include rtlDesign(0, 8px 5% 8px 0);
}

.bannerClose {
  padding : {
    bottom: 110px;
  }
  @include rtlDesign(0, 8px 5% 8px 0);
}

.bannerBody svg {
  fill: none;
  max-width: none;
  max-height: none;
}

.infoIcon {
  display: table-cell;
  padding: 12px;
  width: 24px;
  height: 24px;

  @include bannerFont(normal, 24px);
  
  /* identical to box height */
  line-height: 0;
}

.bannerInformBody {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  
  @include bannerFont(normal, 13px);
  line-height: 16px;

  /* Add styles to hyperlinks in case websites close the default styles for hyperlinks */
  & a {
    text-decoration: underline;
  }
}

.buttonGroup {
  display: inline-block;
  margin : {
    left: 5%;
    right: 5%;
  }

  min-width: 40%;
  min-width: calc((#{ $bannerBtnWidth } + 3 * 4px) * 2 + #{ $bannerBtnWidth });
  min-width: fit-content;

  align-self: center;
  position: relative;
}

.bannerButton {
  margin: 4px;
  padding: 5px;

  min-width: $bannerBtnWidth;
  min-height: $bannerBtnHeight;
  vertical-align: top;
  
  cursor: pointer;
  @include bannerFont(normal, 15px);
  line-height: 20px;
  text-align: center;

  &:focus {
    box-sizing: border-box;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.cookieModal {
  display: block;
  position: fixed;
  z-index: 10000;   /* on top of the page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color-between-page-and-dialog;
  overflow: auto;
  text-align: left;

  @at-root div[dir="rtl"]#{ & } {
    text-align: right;
  }
  @include rtlDesignPosition(auto, 0);
}

.modalContainer {
  position: relative;
  top: 8%;
  margin : {
    bottom: 40px;
    left: auto;
    right: auto;
  }
  
  box-sizing: border-box;
  width: 640px;

  background-color: $dialog-background-color;
  border: 1px solid $dialog-border-color;
}

.closeModalIcon {
  float: right;
  z-index: 1;
  margin: 2px;
  padding: 12px;
  border: none;

  cursor: pointer;
  @include bannerFont(normal, 13px);
  line-height: 13px;

  display: flex;
  align-items: center;
  text-align: center;
  color: $close-button-color;
  background-color: $banner-background-color;

  @include rtlDesign(2px, 12px, left);
}

.closeBannerIcon  
{
  float: right;
  z-index: 1;
  border: none;
  cursor: pointer;
  @include bannerFont(normal, 13px);
  line-height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $banner-close-button-color;
  background-color: transparent;
  position: absolute;
  right: 5%;

  @include rtlDesign(2px, 12px, left);
}

.modalBody {
  position: static;
  margin : {
    top: 36px;
    left: 36px;
    right: 36px;
  }
}

.modalTitle {
  margin : {
    top: 0;
    bottom: 12px;
  }

  @include bannerFont(600, 20px);
  line-height: 24px;
  text-transform: none;
}

.modalContent {
  height: 446px;
  overflow: auto;
}

.cookieStatement {
  margin : {
    top: 0;
  }

  @include bannerFont(normal, 15px);
  line-height: 20px;

  /* Add styles to hyperlinks in case websites close the default styles for hyperlinks */
  & a {
    text-decoration: underline;
  }
}

dl.cookieOrderedList {
  margin : {
    top: 36px;
    bottom: 0;
  }
  padding: 0;

  /* Close the default styles which adds decimal numbers in front of list items */
  list-style: none;
  text-transform: none;
}

dt.cookieListItem {
  margin : {
    top: 20px;
  }
  float: none;

  @include bannerFont(600, 18px);
  line-height: 24px;

  /* Close the default styles which adds decimal numbers in front of list items */
  list-style: none;
}

.cookieListItemGroup {
  margin: 0;
  padding: 0;
  border: none;
}

.cookieListItemTitle {
  margin: 0;
  padding: 0;
  border-bottom: none;

  @include bannerFont(600, 18px);
  line-height: 24px;
  text-transform: none;
}

.cookieListItemDescription {
  display: inline-block;
  margin : {
    top: 0;
    bottom: 13px;
  }

  @include bannerFont(normal, 15px);
  line-height: 20px;
}

.cookieItemRadioBtnGroup {
  display: block;
}

.cookieItemRadioBtnCtrl {
  display: inline-block;
  position: relative;
  left: 5px;
  margin : {
    bottom: 13px;
    right: 34px;
  }
  padding: 3px;

  @include rtlDesign(0 0 13px 34px, 3px);
  @include rtlDesignPosition(auto, 5px);
}

.bannerBody *::before, .cookieModal *::before, .bannerBody *::after, .cookieModal *::after {
  box-sizing: inherit;
}

.cookieItemRadioBtnCtrlOutline {
  outline: 2px solid $radio-button-hover-background-color;
}

@mixin defineRaioInput {
  & + label::before {
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    height: 19px;
    width: 19px;
    content: "";
    border-radius: 50%;
    border: 1px solid $radio-button-border-color; 
    background-color: $dialog-background-color;

    @include rtlDesignPosition(auto, 3px);
  }

  &:not(:disabled) + label {
    &:hover {
      &::before {
        border: 1px solid $radio-button-hover-border-color;
      }

      &::after {
        display: block;
        position: absolute;
        top: 10px;
        left: 8px;
        height: 9px;
        width: 9px;
        content: "";
        border-radius: 50%;
        background-color: $radio-button-hover-background-color;

        @include rtlDesignPosition(auto, 8px);
      }
    }

    &:focus {
      &::before {
        border: 1px solid $radio-button-hover-border-color;
      }

      &::after {
        display: block;
        position: absolute;
        top: 10px;
        left: 8px;
        height: 9px;
        width: 9px;
        content: "";
        border-radius: 50%;
        background-color: $radio-button-checked-background-color;

        @include rtlDesignPosition(auto, 8px);
      }
    }
  }

  &:checked + label::after {
    display: block;
    position: absolute;
    top: 10px;
    left: 8px;
    height: 9px;
    width: 9px;
    content: "";
    border-radius: 50%;
    background-color: $radio-button-checked-background-color;

    @include rtlDesignPosition(auto, 8px);
  }

  &:disabled + label {
    cursor: not-allowed;

    &::before {
      border: 1px solid $radio-button-disabled-border-color;
      background-color: $radio-button-disabled-color;
    }
  }
}

input[type="radio"].cookieItemRadioBtn {
  display: inline-block;
  position: relative;   /* Adjust the position */
  margin : {
    top: 0;
    left: 0;
    right: 0;
  }

  height: 0;
  width: 0;
  border-radius: 0;

  cursor: pointer;
  outline: none;
  box-sizing: border-box;

  appearance: none;

  /* Define our own radio input in case websites close the default styles for input type radio */
  @include defineRaioInput;
}

.cookieItemRadioBtnLabel {
  display: block;
  position: static;
  float: right;
  margin : {
    top: 0;
    bottom: 0;
    left: 19px;
    right: 0;
  }
  padding : {
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
  }
  width: 80%;   /* If "calc()" is not supported */

  width: calc(100% - 19px);

  @include bannerFont(normal, 15px);
  line-height: 20px;
  /* identical to box height, or 133% */

  text-transform: none;
  cursor: pointer;
  box-sizing: border-box;

  @include rtlDesign(0 19px 0 0, 0 8px 0 0, left);
}

.modalButtonGroup {
  margin : {
    top: 20px;
    bottom: 48px;
  }
}

.modalButtonReset {
  padding: 0;

  width: 278px;
  height: 36px;
  
  cursor: pointer;
  @include bannerFont(normal, 15px);

  line-height: 20px;
  /* identical to box height, or 133% */
  text-align: center;

  &:focus {
    box-sizing: border-box;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.modalButtonSave {
  float: right;
  padding: 0;

  width: 278px;
  height: 36px;

  cursor: pointer;
  @include bannerFont(normal, 15px);

  line-height: 20px;
  /* identical to box height, or 133% */
  text-align: center;

  &:focus {
    box-sizing: border-box;
  }

  &:disabled {
    cursor: not-allowed;
  }

  @include rtlDesign(0, 0, left);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
  .buttonGroup, .bannerInform {
    padding : {
      top: 8px;
      bottom: 12px;
      left: 3.75%;
      right: 3.75%;
    }
    margin: 0;

    width: 92.5%;
  }

  .bannerBody {
    display:block;
  }

  .bannerButton {
    margin : {
      bottom: 8px;
      left: 0;
      right: 0;
    }

    width: 100%;
  }

  .cookieModal {
    overflow: hidden;
  }

  .modalContainer {
    top: 1.8%;
    
    width: 93.33%;
    height: 96.4%;

    overflow: hidden;
  }

  .modalBody {
    margin : {
      top: 24px;
      left: 24px;
      right: 24px;
    }

    height: 100%;
  }

  .modalContent {
    height: 62%;   /* If "calc()" is not supported */
   
    height: calc(100% - 188px);
    min-height: 50%;
  }

  .modalButtonReset {
    width: 100%;
  }

  .modalButtonSave {
    margin : {
      bottom: 12px;
      left: 0;
    }

    width: 100%;

    @include rtlDesign(0 0 12px 0, 0);
  }

  .bannerClose{
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

/* For landscape orientation: */
@media only screen and (max-width: 768px) and (orientation: landscape), only screen and (max-height: 260px), only screen and (max-width: 340px) {
  .modalContainer {
    overflow: auto;
  }
}

/* For large zoom in: */
@media only screen and (max-height: 260px), only screen and (max-width: 340px) {

  .bannerButton {
    min-width: 0;
  }
  
  .closeModalIcon {
    padding: 3%;
  }

  .closeBannerIcon {
    padding: 3%;
  }

  .bannerClose {
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .modalBody {
    margin : {
      top: 3%;
      left: 3%;
      right: 3%;
    }
  }

  .modalTitle {
    margin: {
      bottom: 3%;
    }
  }

  .modalContent {
    height: calc(79% - 64px);
  }

  .modalButtonGroup {
    margin: {
      top: 5%;
      bottom: 10%;
    }
  }

  .modalButtonSave {
    margin : {
      bottom: 3%;
    }

    @include rtlDesign(0 0 3% 0, 0);
  }
}