$banner-alpha: 0.85;

.bannerBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 64px;
  background-color: rgba(242, 242, 242, $banner-alpha);
  overflow: auto;
}

.bannerInform {
  float: left;
  margin : {
    left: 5%;
    top: 4px;
  }
  
  width: 50%;
  height: 52px;
  overflow: auto;
}

.infoIcon {
  float: left;
  padding: 12px;
  height: 24px;
  width: 24px;

  font : {
    family: Segoe UI, SegoeUI, Arial, sans-serif;
    style: normal;
    weight: normal;
    size: 24px;
  }
  
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}

.bannerInformBody {
  /* align text with icon */
  padding-top: 6px;
  height: 20px;

  font : {
    family: Segoe UI, SegoeUI, Arial, sans-serif;
    size: 13px;
  }

  line-height: 16px;
}

.buttonGroup {
  float: right;
  margin-top: 8px;
  min-width: 470px;
  overflow: auto;
}

.bannerButton {
  margin: 4px;
  width: 120px;
  height: 36px;
  background-color: #EBEBEB;
  
  cursor: pointer;
  font : {
    family: Segoe UI, SegoeUI, Arial, sans-serif;
    size: 15px;
  }

  line-height: 20px;
  text-align: center;

  &:hover {
    background-color: #DBDBDB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    visibility: hidden;
    background: #DBDBDB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    
    border: 2px solid #000000;
    box-sizing: border-box;
  }

  &:disabled {
    visibility: hidden;
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
  .buttonGroup, .bannerInform {
    float: none;
    margin: 3.75%;
    width: 92.5%;

    min : {
      width: 300px;
      height: 36px;
    }
  }

  .bannerButton {
    width: 100%;
  }
}
